.currently {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.currently * {
  text-align: center;
}

.currently .weather-display {
  display: flex;
  flex-direction: column;
}

.currently .color-circle {
  align-self: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border: 2px solid;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
